In [49]:
from google.colab import drive
drive.mount('/content/drive')
directory = '/content/drive/MyDrive/Data Projects/Data Generation/Files'

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
df = pd.read_csv(f'{directory}/Original_Data.csv')

In [51]:
df.head(1)

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,35.1,11.8,4.65,6.3,310,25.4,33.6,75.5,1,F,out

In [52]:
#Reordering and Renaming
df = df[['SOURCE','SEX','AGE', 'HAEMATOCRIT',	'HAEMOGLOBINS',	'ERYTHROCYTE',	'LEUCOCYTE',	'THROMBOCYTE',	'MCH',	'MCHC',	'MCV']]
df = df.rename(columns={'SOURCE':'Next_Treatment_Type', 'SEX':'Sex', 'AGE':'Age', 'HAEMATOCRIT':'Hematocrit', 'HAEMOGLOBINS':'Hemoglobins', 'ERYTHROCYTE':'Erythrocyte', 'LEUCOCYTE':'Leucocyte', 'THROMBOCYTE':'Thrombocyte'})

In [53]:
df.head(1)

,Next_Treatment_Type,Sex,Age,Hematocrit,Hemoglobins,Erythrocyte,Leucocyte,Thrombocyte,MCH,MCHC,MCV
0,out,F,1,35.1,11.8,4.65,6.3,310,25.4,33.6,75.5

In [54]:
#Recoding Variables
df['Next_Treatment_Type'].replace('out', 0, inplace=True)
df['Next_Treatment_Type'].replace('in', 1, inplace=True)
df['Sex'].replace('M', 0, inplace=True)
df['Sex'].replace('F', 1, inplace=True)

In [55]:
df.head(5)

,Next_Treatment_Type,Sex,Age,Hematocrit,Hemoglobins,Erythrocyte,Leucocyte,Thrombocyte,MCH,MCHC,MCV
0,0,1,1,35.1,11.8,4.65,6.3,310,25.4,33.6,75.5
1,0,1,1,43.5,14.8,5.39,12.7,334,27.5,34.0,80.7
2,0,1,1,33.5,11.3,4.74,13.2,305,23.8,33.7,70.7
3,0,1,1,39.1,13.7,4.98,10.5,366,27.5,35.0,78.5
4,0,0,1,30.9,9.9,4.23,22.1,333,23.4,32.0,73.0

In [56]:
#Saving Data File
df.to_csv(f'{directory}/EHR_Data.csv', index=False)